  <% @paginate_results.each do |product| %>
  <ul>
    <li><%=link_to(product.name, product)%></li>
    <li><%=image_tag(url_for(product.image), alt:"product_image")%></li>
    <li>CAN $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
  </ul>
<% end %>
<%= form_for @order_item do |f| %>
  <%= f.submit "Add to cart"%>

<% end %>

  <% url = request.path_info %>
  <% if url.include?('search_results') %>
  <%else %>
    <%= will_paginate @paginate_results %>
  <% end %>
