<!DOCTYPE html>
<html>
  <head>
    <title>RagnarokOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Navigation -->
      <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <h1 class="navbar-item">
              Ragnarok: Exchange
            </h1>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Navigation
                  </a>

                  <div class="navbar-dropdown">
          <a class="navbar-item">
            <%= link_to('Home', '/products', class:'')%>
          </a>
          <a class="navbar-item">
            <%= link_to('About', permalink_path(permalink: 'about_us'))%>
          </a>
          <a class="navbar-item">
            <%= link_to('FAQs', permalink_path(permalink: 'faq')) %>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Version 2.0
          </a>
        </div>
      </div>
    </div>

      <div class="navbar-end">
        <div class="navbar-item">

          <%= render 'layouts/alerts' %>

            <% url = request.path_info %>
            <% if url.include?('about_us') || url.include?('faq') || url.include?('users') || url.include?('categories')%>

            <%else %>
            <div class="shopping_cart">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="icon has-text-info"><i class="fas fa-shopping-cart"></i>&nbsp;<%=@cart.count%> </span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>There are <%= pluralize(@cart.count, 'item') %> in the cart.</p>
                        <% count = 0 %>
                        <% @cart.each do |product| %>

                            <%=image_tag(url_for(product.image), alt:"product_image") %>
                            <%= product.name %>
                            <%= link_to '-remove', remove_from_cart_path(product.id), method: :delete %>
                            <%= form_tag(edit_cart_path(product.id, :query), method: "post", local: true) do %>
                            <%= label_tag(:query, "Quantity:") %>
                            <div class="quantity">
                              <%= number_field_tag(:query, @quantity[count]) %>
                            </div>
                            <%= submit_tag("Update") %>
                            <% end %>

                          <% count += 1%>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% if current_user %>
                <%=link_to 'Sign out', destroy_user_session_path, method: :delete, class: "button is-link is-light" %>
            <% else %>

            <%=link_to 'Sign up', new_user_registration_path, class:"button is-primary is-light" %>&nbsp;
            <%=link_to 'Sign in', new_user_session_path, class: "button is-link is-light" %>
            <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
        <div class ="search_bar">
          <%= form_tag(search_results_products_path, method: "get", local: true, class:"") do %>
            <div class="field">
              <div class="control">
                <%= text_field_tag(:query, "Search", class:"input is-danger") %>
             </div>
            </div>
          <%= collection_select :product, :category_id, Category.all, :id, :name, prompt: true%>
          <div class="control">
            <%= button_tag(type: "submit",  class: "button is-danger") do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
         <% end %>
        </div>

      <br />

      <div class="filter">
        <%= form_tag products_path, :method => 'get' do%>
          <div class="control">
            <%= radio_button_tag :option, "New"%>
            <%= label_tag 'Just arrived', nil, class: "radio"%>

            <%= radio_button_tag :option, "Updated" %>
            <%= label_tag 'Recently Changed', nil, class: "radio"%>
            <%= button_tag(type: "submt", class:"button is-danger is-light") do %>
              <i class="fas fa-filter"></i>
            <% end %>
          </div>
        <% end %>
      </div>
<hr />

    </header>
  </head>

    <body>
      <%= yield %>

      <footer class="footer">
      <div class="content has-text-centered">
        <span class="icon is-large">
          <i class="fab fa-instagram has-text-black-bis"></i> &nbsp;&nbsp;&nbsp;
          <i class="fab fa-facebook has-text-info"></i> &nbsp;&nbsp;&nbsp;
          <i class="fab fa-snapchat-square has-text-warning"></i> &nbsp;&nbsp;&nbsp;
          <i class="fab fa-youtube has-text-danger"></i> &nbsp;&nbsp;&nbsp;
        </span>
        <p>No Rights Reserve | Red River College | 160 Princess St., Winnipeg, MB | Contact Us: (204) 891-0523 </p>
      </div>
      </footer>

    <%= react_component("Index")%>
  <br />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js%22%3E"> </script>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
  </body>

</html>
