<!DOCTYPE html>
<html>
  <head>
    <title>RagnarokOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Navigation -->
      <nav>
        <ul>
          <li><%= link_to('Home', '/products' ) %></li>
          <li><%= link_to('About',permalink_path(permalink: 'about_us')) %></li>
          <li><%= link_to('FAQs',permalink_path(permalink: 'faq')) %></li>
        </ul>
      </nav>
    </header>
  </head>

  <body>
  <h1>Ragnarok: Exchange</h1>

  <% url = request.path_info %>
  <% if url.include?('about_us') || url.include?('faq') %>
  <%else %>
  <details>
    <summary>Shopping Cart: <%=@cart.count%></summary>
    <ul>
      <% @cart.each do |product| %>
        <li>
          <%= product.name %>
          <%= link_to 'Delete', remove_from_cart_path(product), method: :delete %>
        </li>
      <% end %>
    </ul>
     <%= debug session[:cart] %>
  </details>
  <% end %>

  <h4>What's hot?</h4>
    <%= form_tag products_path, :method => 'get' do%>
    <%= label_tag 'New' %>
    <%= radio_button_tag :option, "New" %>

    <%= label_tag 'Updated' %>
    <%= radio_button_tag :option, "Updated" %>

    <br />

    <%= submit_tag "Filter" %>
    <% end %>

<%= form_tag(search_results_products_path, method: "get", local: true) do %>
<%= label_tag(:query, "Search for:") %>
<%= text_field_tag(:query) %>
<%= collection_select :product, :category_id, Category.all, :id, :name, prompt: true %>
<%= submit_tag("Search") %>
<%= link_to '<button type="button" class="btn btn-sm">Reset</button>'.html_safe, root_path %>
<% end %>
    <%= yield %>


  <br />
  </body>
</html>
